p   {text-align: center;
    color: red;
    }

#texto1 {
        color: purple;
        font-family: 'Staatliches', cursive;
        font-size: 20px;
        font
        }

#texto2 {
        font-size: 18px; 
        color: rgb(17, 177, 25);
        font-family: 'Staatliches', cursive;
        }

.cuadro {
        background-color: darkblue;
        width: 100px;
        height: 100px;
        margin: 100px;
        }


#cuadro1:hover {
            background-color: yellowgreen;
               }

*   {
    margin: auto 5rem;
    padding: 0px;
    font-size: 10px*1.5;
    }

h1,h2 {
             font-size: 50px*1.5;
             font-family: 'Staatliches', cursive;
         }

h3 {
    font-family: 'Staatliches', cursive;
    font-size: 6em;
    }

ul:first-child {
                    color: orange;
                  }

li:first-child {
                     color: orange;
                  }

#input1:focus 
                {
                    background-color: crimson;
                }
span {
        padding: 30px;
        margin: 10px;
        display: block;
    }
    
#dont { 
        background-color: rgba(255, 145, 145, 50);
        font-size: 1.5em;
      }

#doesnt 
        {
            background-color: #ff05aa ;
            font-size: 2em;
        }

.contenedor {   
             height: 400px;
             width: 600px;
             border: 8px dashed burlywood;
             background-image: url(husky.jpg);
             background-repeat: no-repeat;
             background-size:contain;
             background-position:center;
             border-radius: 25px;
             margin-left:34vw;
            }

.cuadrote 
            {
                /* background-color: blueviolet; */
                /* background-image: radial-gradient(circle, rgba(0, 153, 255, 0.5), rgba(104, 18, 82, 0.5)),url("./imagenes/joao-mono.jpg"); */
                /* background: rgb(252,170,103); */
                background-image: linear-gradient(120deg, rgba(252,170,103,1) 0%, rgba(255,255,199,0.4) 50%, rgba(84,134,135,0.4) 80%, rgba(71,51,53,1) 100%), url(./imagenes/stefan-cosm.jpg);
                background-size: 100%;
                height: 100vh;
                width: 100%;
            }

.ciento
                {
                    background-color: tomato;
                    height: 150px;
                    width: 150px;
                }

.roboto
                {
                    background-image: url(./imagenes/chappie.png);
                    background-size: cover;
                    height: 380px;
                    width: 260px;
                    animation: pasoroboto 10s infinite;
                }

@keyframes pasoroboto{



0%{
    transform: translateX(0px) scale(1);
}

25%{
    transform: translateX(400px) scale(0.4);

}

50%{
    transform: translateX(400px) translateY(600px) scale(1.5);
    
}
75%{
    transform: translateX(0px) translateY(600px) scale(1);

}
100%{
    transform: translateX(0px) translateY(0px);

}
}

#coloso
        {
            background-color: #ff05aa;
            height: 200px;
            width: 200px;
            border: dashed 2px black;
            margin:10px 30px 40px 20px;
            padding:10px 30px 40px 20px;
            box-sizing:border-box;
        }
#colosio
        {
            background-color: #76ff05;
            height: 200px;
            width: 200px;
            display: block; 
            border: dashed 2px black;
            margin:10px 30px 40px 20px;
            padding:10px 30px 40px 20px;
            box-sizing: content-box;
        }

#circo  {
            background-color: #67f7efaf;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            /* margin: 0px 30px 0px 30px; */
            position: fixed;
            right: 30px;
            bottom: 550pt;
            box-shadow: 5px 3px 10px lightslategrey
        }

#circo:hover 
            {
                transform: scale(1.2);
            background-color: #67f7f0e8;
            }

.material-icons
                {   
                    position: fixed;                    
                    right: 120px;
                    bottom: 820px;
                    background-size: 100px;
                }

              
 .material-symbols-outlined {
                  font-variation-settings:
                  'FILL' 1,
                  'wght' 600,
                  'GRAD' 200,
                  'opsz' 148;
                }
              
.alineacion {

    text-align: center;
    text-decoration-line:overline;
    text-decoration-color: red;
    font-family: 'Gelasio', serif;
}

.parrafo {

    color: dimgrey;
    font-size: 24px;
    word-spacing: 5px;
    line-height: 20px;
    text-shadow: 12px 0px 3px red, -12px 0px 3px rgb(0, 162, 255);
    font-weight: 800;
    
}

.apll {

    text-align: center;
    font-style: italic;
    font-weight: 200;
}

.cities {

    font-size: 18px;
    list-style: square;
    list-style-type: lower-alpha;
    
}

#customers {
    border-collapse: collapse;
    width: 100%;
    }
    #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    }
    #customers tr:hover {background-color: #ddd;}
    #customers th {
    
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}