p   {text-align: center;
    color: red;
    }

#texto1 {
        color: purple;
        font-family: 'Staatliches', cursive;
        font-size: 20px;
        font
        }

#texto2 {
        font-size: 18px; 
        color: rgb(17, 177, 25);
        font-family: 'Staatliches', cursive;
        }

.cuadro {
        background-color: darkblue;
        width: 100px;
        height: 100px;
        margin: 100px;
        }


#cuadro1:hover {
            background-color: yellowgreen;
               }

*   {
    margin: 0px;
    padding: 0px;
    font-size: 10px*1.5;
    }

h1,h2 {
             font-size: 50px*1.5;
             font-family: 'Staatliches', cursive;
         }

h3 {
    font-family: 'Staatliches', cursive;
    font-size: 6em;
    }

ul:first-child {
                    color: orange;
                  }

li:first-child {
                     color: orange;
                  }

#input1:focus 
                {
                    background-color: crimson;
                }
span {
        padding: 30px;
        margin: 10px;
        display: block;
    }
    
#dont { 
        background-color: rgba(255, 145, 145, 50);
        font-size: 1.5em;
      }

#doesnt 
        {
            background-color: #ff05aa ;
            font-size: 2em;
        }

.contenedor {   
             height: 400px;
             width: 600px;
             border: 8px dashed burlywood;
             background-image: url(husky.jpg);
             background-repeat: no-repeat;
             background-size:contain;
             background-position:center;
             border-radius: 25px;
             margin-left:34vw;
            }

.cuadrote 
            {
                /* background-color: blueviolet; */
                /* background-image: radial-gradient(circle, rgba(0, 153, 255, 0.5), rgba(104, 18, 82, 0.5)),url("./imagenes/joao-mono.jpg"); */
                /* background: rgb(252,170,103); */
                background-image: linear-gradient(120deg, rgba(252,170,103,1) 0%, rgba(255,255,199,0.4) 50%, rgba(84,134,135,0.4) 80%, rgba(71,51,53,1) 100%), url(./imagenes/stefan-cosm.jpg);
                background-size: 100%;
                height: 100vh;
                width: 100%;
            }

.ciento
                {
                    background-color: tomato;
                    height: 150px;
                    width: 150px;
                }

.roboto
                {
                    background-image: url(./imagenes/chappie.png);
                    background-size: cover;
                    height: 320px;
                    width: 260px;
                    animation: pasoroboto 10s infinite;
                }

@keyframes pasoroboto{



0%{
    transform: translateX(0px) scale(1);
}

25%{
    transform: translateX(400px) scale(0.4);

}

50%{
    transform: translateX(400px) translateY(600px) scale(3);
    
}
75%{
    transform: translateX(0px) translateY(600px) scale(1);

}
100%{
    transform: translateX(0px) translateY(0px);

}
}

#coloso
        {
            background-color: #ff05aa;
            height: 200px;
            width: 200px;
        }
 #colosio
        {
            background-color: #76ff05;
            height: 200px;
            width: 200px;
        }